<nav class="navbar navbar-expand-lg fixed-top ml-auto">
    <img src="assets/images/logo.png" width="40" height="40">
    <a class="navbar-brand" href="#" style="margin-left: 2%">Sistema OS</a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">        
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> User <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> {{ 'CB Nilson' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-home"></i> {{ 'CITEL' | translate }}
                    </a>
                    <!--<a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'Configurações' | translate }}
                    </a>-->
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Sair' | translate }}
                    </a>
                </div>
            </li>
            <li class="nav-item d-none d-xl-block">
                <img src="assets/images/logo.png" _ngcontent-c10 class="user-avatar" width="40" height="40">
            </li>
        </ul>
    </div>
</nav>
