<div [@routerTransition]>
    <app-page-header align="center" [heading]="'Lista de Missões'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Missões Externas - <strong>Pendentes</strong>
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Unidade</th>
                            <th>Solicitante</th>
                            <th>Fone</th>
                            <th>Serviço</th>
                            <th>Reclamação</th>
                            <th>Data da Solicitação</th>
                            <th>Data Agendada</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>20° BPM</td>
                            <td>CB Rocha</td>
                            <td>9199999-9999</td>
                            <td>Internet</td>
                            <td>Compartilhamento de Rede</td>
                            <td>12/09/2019</td>
                            <td>13/09/2019</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Missões Externas - <strong>Concluídas</strong></div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Unidade</th>
                            <th>Solicitante</th>
                            <th>Fone</th>
                            <th>Serviço</th>
                            <th>Reclamação</th>
                            <th>Data da Solicitação</th>
                            <th>Data Agendada</th>
                            <th>Técnico Responsável</th>
                            <th>Constatação</th>
                            <th>Solução</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>20° BPM</td>
                            <td>CB Rocha</td>
                            <td>9199999-9999</td>
                            <td>Internet</td>
                            <td>Compartilhamento de Rede</td>
                            <td>12/09/2019</td>
                            <td>13/09/2019</td>
                            <td>CB Emerson</td>
                            <td>Redes diferentes</td>
                            <td>Ajustar computadores na mesma rede</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Missões Comando Geral - <strong>Pendentes</strong></div>
                <div class="card-body table-responsive">
                    <table class="table table-inverse">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Unidade</th>
                            <th>Solicitante</th>
                            <th>Fone</th>
                            <th>Serviço</th>
                            <th>Reclamação</th>
                            <th>Data da Solicitação</th>
                            <th>Data Agendada</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>20° BPM</td>
                            <td>CB Rocha</td>
                            <td>9199999-9999</td>
                            <td>Internet</td>
                            <td>Compartilhamento de Rede</td>
                            <td>12/09/2019</td>
                            <td>13/09/2019</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Missões Comando Geral - <strong>Concluídas</strong></div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Unidade</th>
                            <th>Solicitante</th>
                            <th>Fone</th>
                            <th>Serviço</th>
                            <th>Reclamação</th>
                            <th>Data da Solicitação</th>
                            <th>Data Agendada</th>
                            <th>Técnico Responsável</th>
                            <th>Constatação</th>
                            <th>Solução</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Gabinete</td>
                            <td>CB Rocha</td>
                            <td>9199999-9999</td>
                            <td>Internet</td>
                            <td>Compartilhamento de Rede</td>
                            <td>12/09/2019</td>
                            <td>13/09/2019</td>
                            <td>CB Emerson</td>
                            <td>Redes diferentes</td>
                            <td>Ajustar computadores na mesma rede</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
